$symbol-color: #FFFCC9;
$symbol-thickness: 2vw;

.symbol {
  width: 60%;
  height: 60%;

  animation: fadeIn .5s forwards;
  opacity: 0;

  &__x {
    width: 100%;
    height: 100%;
    position: relative;


    &__line1 {
      background-color: $symbol-color;
      width: $symbol-thickness;
      height: 100%;
      transform: translateX(-50%) rotate(45deg);
      left: 50%;
      position: absolute;
    }
    
    &__line2 {
      background-color: $symbol-color;
      width: $symbol-thickness;
      height: 100%;
      transform: translateX(-50%) rotate(-45deg);
      left: 50%;
      position: absolute;
    }
  }

  &__o {
    box-sizing: border-box;
    border: $symbol-thickness solid $symbol-color;
    border-radius: 100%;

    width: 95%;
    height: 95%;

  }
}

@keyframes fadeIn {
  from {opacity:  0;}
  to {opacity:  1;}
}